
@{
    ViewBag.Title = "Employee Dashboard";
}

<h1>This is the Employee Dashboard</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the employee will be directed to when they successfully log in.
    The employee has access to the following functions: manage vendors, manage RFIs,
    manage RFPs, manage Contracts, report generation and personal account maintanence.
</p>

<br />

<p>From here, there are 6 possibilities:</p>

<ul>
    <li>The employee selects the vendor management link</li>
    <li>The employee selects the manage RFI link</li>
    <li>The employee selects the manage RFP link</li>
    <li>The employee selects the manage contracts link</li>
    <li>The employee selects the reports generation link</li>
    <li>The employee selects the user account management link</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Vendor Management", "Index", "EmployeeVendor")<br />
@Html.ActionLink("RFI Management", "Index", "EmployeeRFI")<br />
@Html.ActionLink("RFP Management", "Index", "EmployeeRFP")<br />
@Html.ActionLink("Contract Management", "Index", "EmployeeContract")<br />
@Html.ActionLink("Report Generation", "Index", "EmployeeReport")<br />
@Html.ActionLink("Update Account Information", "Update", "Account")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: Employee</h5>
<h5>Method: Index</h5>

