@model IEnumerable<rfp_mgmt_system.EMPLOYEE>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSecurityQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSecurityAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Admin.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_LOGIN.Emp_Username)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSecurityQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSecurityAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Admin.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_LOGIN.Emp_Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
