
@{
    ViewBag.Title = "Vendor RFP Management";
}
<h1>This is the RFP Management page</h1><br />

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #999;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 12px 12px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-color: #999;
            color: #444;
            background-color: #F7FDFA;
            border-top-width: 1px;
            border-bottom-width: 1px;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 12px 12px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-color: #999;
            color: #fff;
            background-color: #26ADE4;
            border-top-width: 1px;
            border-bottom-width: 1px;
        }

        .tg .tg-nrw8 {
            font-size: 14px;
        }
</style>
<table class="tg">
    <tr>
        <th class="tg-nrw8">#</th>
        <th class="tg-031e">RFP</th>
        <th class="tg-031e">Description</th>
        <th class="tg-031e">Status</th>
    </tr>
    <tr>
        <td class="tg-031e">1</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">2</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">3</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">4</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">5</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">6</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">7</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">8</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">9</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
    <tr>
        <td class="tg-031e">10</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
        <td class="tg-031e">Placeholder</td>
    </tr>
</table>
<div class="btn-group">
    <button type="button" class="btn btn-default">@Html.ActionLink("Respond to Selected RFP", "Respond", "VendorRFP")</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Respond to Selected RFP", "Respond", "VendorRFP")</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Return to Dashboard", "Index", "Vendor")</button>
</div>
<h1>This is the Vendor RFP Management page</h1><br />

<h3>Page synopsis</h3>
<p>
    This is the page the vendor will use to respond to and decline RFPs. This page will list all
    of the existing RFPs that are associated with the logged in vendor.  All RFPs that have been responded to but
    are still in the system with have a tag labelled 'Pending'.  All RFPs that have been responded to and have expired
    will be tagged as 'Complete'.  All RFPs that have not been responded to but have expired will be tagged
    as 'Expired'.  All the RFIs that have not expired or been responded to will 2 links next to them: Respond and Decline.
</p>

<br />

<p>From here, there are 3 possibilities:</p>

<ul>
    <li>The vendor selects the 'Respond' link next to an open RFP</li>
    <li>The vendor selects the 'Decline' link next to an open RFP</li>
    <li>The vendor returns to their dashboard</li>
</ul>

<br />

<h3>Links</h3>
@Html.ActionLink("Respond to Selected RFP", "Respond", "VendorRFP")<br />
@Html.ActionLink("Decline Selected RFP", "Decline", "VendorRFP")<br />
@Html.ActionLink("Return to Dashboard", "Index", "Vendor")<br />

<br />

<h3>Backend Information</h3>
<h5>Controller: VendorRFP</h5>
<h5>Method: Index</h5>

