@model rfp_mgmt_system.Models.EMPLOYEE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSecurityQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSecurityQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSecurityAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSecurityAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Admin.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Admin.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_LOGIN.Emp_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_LOGIN.Emp_Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
